-i https://pypi.org/simple

celery
django-cors-headers
django-environ
django-redis
django-rest-swagger
django-storages[boto3]
djangorestframework
djangorestframework-simplejwt
djoser
psycopg2
pytz
sentry-sdk
django<3.0,>=2.2
pyuwsgi
pillow

# dev
black==18.9b0
django-debug-toolbar
django-extensions
flake8
flake8-blind-except
flake8-bugbear
flake8-debugger
flake8-isort
flake8-print
flake8-quotes
factory_boy
ipdb
ipython
isort[requirements]
mypy
pep8-naming
pytest
pytest-cov
pytest-django
pytest-freezegun
